body {
    margin: 0px;
    padding: 0px;
    font-family: 'National Park', sans-serif;
    font-weight: 400;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#title {
    align-self: first baseline;
    font-family: 'Shantell Sans', sans-serif;
    margin-left: 30px;
    margin-top: -10px;
}

#home {
    align-self: last baseline;
    margin-right: 50px;
    margin-top:10px;
    font-size: 20px;
}

img {
    width: 500px;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-group {
    margin: 50px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    color: black;
}

.recipe {
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: space-evenly;
}

.ingredients {
    display: flex;
    justify-content: center;
    align-items: last baseline;
    flex-direction: column;
    width: 400px;
    height: 400px;
}

#ing-title, #inst-title {
    font-size: 24px;
    font-family: "Shantell sans", sans-serif;
    font-weight: 600;
}

.instructions {
    display: flex;
    justify-content: center;
    align-items: first baseline;
    flex-direction: column;
    width: 500px;
    height: 400px;
}

li {
    margin: 10px;
}