body {
    margin: 0px;
    padding: 0px;
    font-family:  "National Park", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#home {
    align-self:first baseline;
    width: 100px;
    height: 100%;
}

#title {
    font-family: "Shantell Sans", sans-serif;
    margin-bottom: 20px;
    margin-top: 50px;
}

input {
    font-family: "National Park";
    font-size: 16px;
    margin: 20px;
    font-weight: 600;
    border: none;
    border-bottom: 2px solid black;
    padding: 10px;
    width: 100px;
    background-color: white;
}

input:hover {
    border: none;
}

.recipes {
    display: flex;
    width: 700px;
    justify-content: center;
    margin-top: 40px;
}

img {
    margin: 20px;
}

.display-img {
    width: 200px;
    height: 200px;
    display: block;
}

