body {
    margin: 0px;
    padding: 0px;
    font-family: "Shantell Sans", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#title {
    margin-bottom: 100px;
}

input {
    font-family: "Shantell Sans", sans-serif;
    font-weight: 600;
    padding: 6px;
    margin: 10px;
    width: 100px;
    border-radius: 20px;
    border: 1px dashed black;
    background-color: white;
}

#recipes {
    display: flex;
    width: 700px;
    justify-content: space-around;
    margin-top: 40px;
}

.display-img {
    width: 150px;
    height: 150px;
    display: block;
}

